<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>my wiki</title>
    <!-- markdown转换 -->
    <script src="https://cdn.bootcss.com/showdown/1.3.0/showdown.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"/>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>

      :root {
         --bg-clr: #303643;
         --header-bg-clr: #303643;
         --aside-bg-clr: #545c64;
         --text-clr: #fff;
         --active-text-clr: #ffd04b;
         --spacing: 20px;
      }

      .el-header,
      .el-footer {
        background-color: var(--bg-clr);
        color: #333;
        text-align: center;
        line-height: 60px;
      }

      .el-aside {
        background-color: var(--bg-clr);
        color: #333;
        text-align: center;
        line-height: 100px;
      }
      .el-menu {
         background-color: unset;
         border-right: unset;
      }
      .el-submenu__title, .el-menu-item {
         text-align: left;
      }


      .el-main {
        background-color: #e9eef3;
        color: #333;
        text-align: center;
        line-height: 0;
        padding: 0;
      }
      body {
        margin: 0;
        background-color: #333;
      }
      html,
      body,
      #app {
        height: -webkit-fill-available;
      }
      iframe {
        height: 100%;
        width: 100%;
        border: 0;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <el-container style="height: 100%;">
        <el-header>
         <el-menu
           :default-active="activeIndex2"
           class="el-menu-demo"
           mode="horizontal"
           @select="handleSelect"
           background-color="var(--header-bg-clr)"
           text-color="var(--text-clr)"
           active-text-color="var(--active-text-clr)">
           <el-menu-item index="1">处理中心</el-menu-item>
           <el-submenu index="2">
             <template slot="title">我的工作台</template>
             <el-menu-item index="2-1">选项1</el-menu-item>
             <el-menu-item index="2-2">选项2</el-menu-item>
             <el-menu-item index="2-3">选项3</el-menu-item>
             <el-submenu index="2-4">
               <template slot="title">选项4</template>
               <el-menu-item index="2-4-1">选项1</el-menu-item>
               <el-menu-item index="2-4-2">选项2</el-menu-item>
               <el-menu-item index="2-4-3">选项3</el-menu-item>
             </el-submenu>
           </el-submenu>
           <el-menu-item index="3" disabled>消息中心</el-menu-item>
           <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">blog</a></el-menu-item>
           <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">wiki</a></el-menu-item>
         </el-menu>
        </el-header>
        <el-container style="height: 100%;">
          <el-aside width="250px">
            <el-menu default-active="main-page" class="el-menu-vertical-demo"
               @open="handleOpen" 
               @close="handleClose"
               @select="handleSelect"
               :collapse="isCollapse"
               background-color="var(--aside-bg-clr)"
               text-color="var(--text-clr)"
               active-text-color="var(--active-text-clr)">
               <sidebar-item v-for="menu in asideList" :item="menu"/>
            </el-menu>
            <!-- <el-radio-group v-model="isCollapse" style="margin-bottom: 20px;">
               <el-radio-button :v-show="isCollapse" :label="false">展开</el-radio-button>
               <el-radio-button :v-show="!isCollapse" :label="true">收起</el-radio-button>
             </el-radio-group> -->
          </el-aside>
          <el-main>
            <iframe id="contentFrame" :src="this.frameSrc" ></iframe>
          </el-main>
        </el-container>
      </el-container>
    </div>

    <script type="text/javascript">

      function convert(){
         var text = document.getElementById("oriContent").value;
         var html = marked(text);
         document.getElementById("result").innerHTML = html;
         con(text);
      }

      function con(markdownText){
         var converter = new showdown.Converter();
         //转换为HTML
         var html = converter.makeHtml(markdownText);
         //将HTML添加到你要展示的容器
         document.getElementById("results").innerHTML = html;
      }

      // 左侧导航栏
      var SidebarItem = Vue.extend({
         props: {
            item: {
               type: Object,
               required: true
            }
         },
         template: ''
            + ' <div>'
            + '	<template v-if="item.children && item.children.length > 0">'
            + '	   <el-submenu :index="item.url">'
            + '	      <template slot="title">'
            + '		      <i class="el-icon-menu"></i>'
            + '		      <span slot="title">{{item.title}}</span>'
            + '	      </template>'
            + '	      <sidebar-item v-for="child in item.children" :item="child" />'
            + '	   </el-submenu>'
            + '	</template>'
            + '	<template v-else>'
            + '	   <el-menu-item :index="item.url">'
            + '		  <i class="el-icon-menu"></i>'
            + '		  <span slot="title">{{item.title}}</span>'
            + '	   </el-menu-item>'
            + '	</template>'
            + ' </div>',
         data: function () {
            return {
            }
         },
      });
      Vue.component("sidebar-item", SidebarItem);

      new Vue({
        el: "#app",
        //钩子函数,页面加载执行
        created: function() {
        },
        //钩子函数,页面加载完成后执行
        mounted: function() {
           this.handleSelect('https://gitee.com/countercurrent/programming-note/raw/master/question/question-distributed.md')
        },
        data: {
            isCollapse: false,
            frameSrc: "",
            asideList: [
               {
                  title: 'index',
                  url: 'https://gitee.com/countercurrent/programming-note/raw/master/question/question-distributed.md',
                  icon: 'el-icon-setting',
                  children: [
                     {
                        title: 'question-distributed335',
                        url: 'https://gitee.com/countercurrent/programming-note/raw/master/question/question-distributed.md',
                        icon: 'el-icon-setting',
                        children: [],
                     },
                  ],
               },
               {
                  title: 'question-distributed2',
                  url: 'https://gitee.com/countercurrent/programming-note/raw/',
                  icon: 'el-icon-setting',
                  children: [
                     {
                        title: 'question-distributed334335',
                        url: 'https://gitee.com/counter454current/progestion/question-distributed.md',
                        icon: 'el-icon-setting',
                        children: [],
                     },
                  ],
               },
               {
                  title: 'question-distributed33',
                  url: 'https://gitee.com/countercurrent/progestion/question-distributed.md',
                  icon: 'el-icon-setting',
                  children: [],
               },
               {
                  title: 'question-distributed44',
                  url: 'https://element.eleme.cn/#/zh-CN/component/menu',
                  icon: 'el-icon-setting',
                  children: [],
               },
               {
                  title: 'question-distributed5',
                  url: 'https://elemefe.github.io/element-react/#/zh-CN/quick-start',
                  icon: 'el-icon-setting',
                  children: [],
               },
            ],
            headerList: [
               {
                  title: 'index',
                  url: 'https://gitee.com/countercurrent/programming-note/raw/master/question/question-distributed.md',
                  icon: 'el-icon-setting',
                  children: [
                     {
                        title: 'question-distributed335',
                        url: 'https://gitee.com/counter454current/progestion/question-distributed.md',
                        icon: 'el-icon-setting',
                        children: [],
                     },
                  ],
               },
               {
                  title: 'question-distributed2',
                  url: 'https://gitee.com/countercurrent/programming-note/raw/',
                  icon: 'el-icon-setting',
                  children: [
                     {
                        title: 'question-distributed335',
                        url: 'https://gitee.com/counter454current/progestion/question-distributed.md',
                        icon: 'el-icon-setting',
                        children: [],
                     },
                  ],
               },
               {
                  title: 'question-distributed33',
                  url: 'https://gitee.com/countercurrent/progestion/question-distributed.md',
                  icon: 'el-icon-setting',
                  children: [],
               },
               {
                  title: 'question-distributed44',
                  url: 'https://element.eleme.cn/#/zh-CN/component/menu',
                  icon: 'el-icon-setting',
                  children: [],
               },
               {
                  title: 'question-distributed5',
                  url: 'https://elemefe.github.io/element-react/#/zh-CN/quick-start',
                  icon: 'el-icon-setting',
                  children: [],
               },
            ],
        },
        methods: {
            handleSelect(item) {
               console.log("handleSelect %o", item);
               if (item.startsWith("http")) {
                  this.frameSrc = item;
               }
            },
            handleOpen(key, keyPath) {
            },
            handleClose(key, keyPath) {
            },
        },
        computed: {},
        watch: {
          "table.conditions.busType": {
            handler(newValue) {},
            immediate: false
          },
          activeName: function() {
            this.changeCaptcha();
          }
        }
      });
    </script>
  </body>
</html>
